<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='dist/css/main.min.css' />
  </head>
  <body>
    {{{body}}}
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/dist/js/main.min.js'></script>
  </body>
</html>
