/* line 5, C:/Users/Wes/Documents/projects/homesetup/public/src/scss/main.scss */
body {
  background: lightblue; }

/* line 9, C:/Users/Wes/Documents/projects/homesetup/public/src/scss/main.scss */
p {
  color: red; }

/* line 13, C:/Users/Wes/Documents/projects/homesetup/public/src/scss/main.scss */
.box {
  border: 4px solid blue;
  background: #FFF; }
  /* line 17, C:/Users/Wes/Documents/projects/homesetup/public/src/scss/main.scss */
  .box p {
    color: #333;
    padding: 15px; }

/*# sourceMappingURL=main.css.map */