$primary: red;
$secondary: #333;
$third: blue;

body {
   background: lightblue;
}
 
p {
  color: $primary;
}

.box {
  border: 4px solid $third;
  background: #FFF;
  
  p {
    color: $secondary; 
    padding: 15px;
  }
}
